* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    
    body {
        font-family: Arial, sans-serif;
   
    }
    
    .nav {
    
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        transition: all 0.3s ease-in-out;
    }
    
    .nav.scrolled {
        box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2);
    }
    
    nav {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    
    .logo a {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
    }
    
    .nav-links li {
        margin-left: 20px;
    }
    .nav-links a {
        text-decoration: none;
        color: #333;
        padding: 5px 10px;
        transition: color 0.3s ease-in-out;
    }
    
    .nav-links a:hover {
        color: #007BFF;
    }
    
    .content {
        padding-top: 80px; /* To avoid content hiding under the navbar */
        text-align: center;
        margin-top: 20px;
    }
   
@media (width < 900px) {
   .nav-links{
        display: none;
   }     
}